<section class="secao-principal">
  {{!-- Início .container --}}
  <div class="container container--inner-page">
    <article class="g-artigo artigo--noticia">      
      {{#if dados._pagina_tematica.link}}
      <a class="localnav__link" href="{{dados._pagina_tematica.link}}" />
      <span class="g-artigo__categoria">{{dados._pagina_tematica.tematica}}</span>
      </a>
      {{else}}
      <span class="g-artigo__categoria">{{dados.temaPrincipal.titulo}}</span>
      {{/if}}

      <h1 class="g-artigo__titulo">{{dados.titulo}}</h1>

      {{#if dados.resumo}}
      <p class="g-artigo__descricao">{{dados.resumo}}</p>
      {{/if}}

      <div class="g-artigo__imagem-identificacao artigo__imagem-identificacao--maior">

      </div>

      {{!-- Quando não houver imagem de identificação, substituir a div anterior pela .artigo__sem-imagem-identificacao
      --}}

      <div class="g-artigo__texto-principal">
        <aside class="l-acoes-apoio">
          <div class="acoes-apoio">
            <button class="acoes-apoio__item js-acao-compartilhamento">
              <i class="fas fa-share-alt" aria-hidden="true"></i><span class="sr-only">Compartilhe</span>
            </button>

            <button class="acoes-apoio__item js-acao-impressao">
              <i class="fas fa-print" aria-hidden="true"></i><span class="sr-only">Versão para impressão</span>
            </button> <!-- versão para impressão em telas pequenas? -->
            <a href="#comentario" class="acoes-apoio__item">
              <i style="margin-left: 6px;" class="far fa-comment-alt" aria-hidden="true"></i><span class="acoes-apoio__qtd-comentario">{{retornaQuantidadeComentarios quantidadeComentarios dados.countComentariosSisnews}}</span><span
                class="sr-only">Comentários</span>
            </a>
          </div>
        </aside>

        <div class="js-article-read-more">
          <div>
            <p class="g-artigo__data-hora">
              {{dados.dataFormatada}} - {{dados.horaFormatada}} &nbsp;
              {{#if dados.dataAtualizacaoFormatada}}
                <span>&bull; &nbsp; Atualizado em {{dados.dataAtualizacaoFormatada}} - {{dados.horaAtualizacaoFormatada}}</span>
              {{/if}}
            </p>

            <p>
              {{{dados.conteudo}}}
            </p>

            <dl>
              <dt>{{breaklines dados.rodape}}</dt>
              {{!-- <dd>Eduardo Piovesan</dd>
              <dt>Edição</dt>
              <dd>Pierre Triboli</dd> --}}
            </dl>
          </div>
          
        </div>

        {{!-- TO-DO por enquanto vai ficar assim, mas irá precisar implementar um each pois os audios poderam ter mais
        de 1(um) --}}

        {{#if dados.audio}}
        <section class="noticia-audio">
          <ul class="l-players">
            {{#each dados.audio}}
            <li class="l-players__item">
              <div class="g-player-audio">
                <h2 class="sr-only">Áudio da matéria</h2>
                <p class="g-player-audio__titulo">Ouça esta matéria na Rádio Câmara</p>
                <div class="g-player-audio__controles">
                  <audio class="mejs__player" preload="none" controls data-mejsoptions='{"stretching":"responsive","audioVolume":"none","features":["playpause","current","progress","duration"]}'>
                    <source src="{{url}}" type="audio/mp3">
                  </audio>
                  <div class="g-player-audio__acoes">
                    {{!-- <a class="g-player-audio__acao" href=".">
                      <i class="fas fa-align-left g-player-audio__icone-acao"></i>
                      <span class="g-player-audio__texto-acao">Texto</span>
                    </a> --}}
                    <a class="g-player-audio__acao" href="{{url}}" download="{{nome}}">
                      <i class="fas fa-cloud-download-alt g-player-audio__icone-acao"></i>
                      <span class="g-player-audio__texto-acao">Baixe</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </section>
        {{/if}}

        {{#if dados.continuacaoNoticia.length}}
        <aside class="g-l-menu-lateral-apoio l-menu-lateral-apoio--noticia-interna">
          <div class="g-menu-lateral-apoio">
            {{> templates/titulo-secao title="Continua" modificador="g-menu-lateral-apoio__titulo"}}
            <ul class="g-menu-lateral-apoio__lista-links">
              {{#each dados.continuacaoNoticia}}
              <li class="g-menu-lateral-apoio__lista-item">
                <a href="{{this.link}}" class="links-apoio__lista-link">{{this.titulo}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
        </aside>
        {{/if}}
      </div>
    </article>
  </div>
  {{!-- .\ Fim .container --}}
</section>