<div id="marcacao-conteudo-portal" class="conteudo-portal container nopadding-right nopadding-left">
    <div class="coluna-centro col-md-offset-2 col-md-8">
        <div id="portal-column-content">
            <div id="portal-content-wrapper">
                <div class="documentContent">

                    <div id="content" onclick="void(0)">
                        <div id="conteudoSite">
                            <!-- inicio Conteúdo Site -->
                            <div class="tarjaPrograma">
                                <div class="navProgramas">
                                    <a href="{{baseURL}}">{{dados.temaPrincipal}}</a>
                                </div>
                            </div>

                            <!-- Data da matéria -->
                            <div id="datahoraNoticia" class="data">{{dados.dataFormatada}} {{dados.horaFormatada}}</div>
                            {{#if dados.dataAtualizacao}}
                            <div class="dataAtualizacao">Atualizado em {{dados.dataAtualizacaoFormatada}} {{dados.horaAtualizacaoFormatada}}</div>
                            {{/if}}
                            <!-- Área de Videos -->
                            <div>
                                <div class="noticia-player">
                                    <div>
                                        <div class="mp4-video-container">
                                            <div id="mp4Player" class="mp4-div"></div>	
                                        </div>
                                        <span><script type='text/javascript'>mcplayer('#mp4Player').live({ id_element: 'playerMP4', mp4: 'http://imagem.camara.gov.br/internet/midias/TV/2018/09/tvcatalentos_20180509_picuma_SEMAD.mp4', poster: 'http://www.camara.leg.br/internet/bancoimagem/banco/2018/07/img20180713173331901MED.jpg', style:'background-color:black', muted: false, autoplay: false });</script></span>
                                    </div>
                                </div>
                            </div>

                            <div id="tituloNoticia">
                                <h2>{{dados.titulo}}</h2>
                            </div>

                            <div id="resumoNoticia">
                                <p>{{dados.resumo}}</p>
                            </div>

                            <!--  Conteúdo da Matéria -->
                            <div id="conteudoNoticia">
                                {{{dados.conteudo}}}
                            </div>

                            <!--  Rodapé -->
                            <div id="creditosMateria">
                                <span>{{{dados.rodape}}}</span>
                            </div>
                            <br>


                        </div>
                        <!-- final Conteúdo Site -->

                    </div>
                    <!-- content //-->
                </div>
                <!-- documentContent //-->
            </div>
            <!-- portal-content-wrapper //-->
        </div>
        <!-- portal-column-content //-->
    </div>

    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-3"></div>

        <div class="col-md-3"></div>

        <div class="col-md-3"></div>
        
    </div>
</div>