<div class="row mt-5 mb-5">
    <div class="col">
        <p>Você quer acessar de forma rápida, em seu computador, o noticiário da Câmara dos Deputados? Todos os 21 temas abaixo estão disponíveis para acompanhamento via RSS (Really Simple Syndication), baseado em código XML.</p>
        <p>Por esse sistema de distribuição de conteúdo, você vê as últimas notícias do assunto de seu interesse produzidas pela Agência Câmara sem precisar acessar o portal Câmara Notícias.</p>
        <p>Se estiver utilizando o navegador Chrome é necessário instalar a <a style="text-decoration:underline; font-weight: bold;" href="https://chrome.google.com/webstore/detail/rss-subscription-extensio/nlbjncdgjeocebhnmkbbbdekmmmcbfjd?hl=pt-BR">extensão de RSS</a>. Se estiver utilizando o navegador Firefox é necessário instalar <a style="text-decoration:underline; font-weight: bold;" href="https://addons.mozilla.org/pt-BR/firefox/addon/feedbroreader/">um addon</a> .O navegador Internet Explorer já suporta RSS sem necessidade de instalar nenhuma extensão.
        </p>
        <p>Por meio de um site na Internet ou de um programa de leitura de RSS chamado de "agregador", também é possível ler as notícias. Nesses casos, é preciso clicar no link com o botão direito do mouse e selecionar a opção "Copiar atalho" ou "Copiar link". Em seguida, vá até seu leitor de RSS favorito (há vários disponíveis para baixar gratuitamente) e cole o endereço na opção "Adicionar Fonte" ou "Add Feed".
        </p>
    </div>
</div>
<div class="row">
    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/ultimas_noticias.jpg" alt="Últimas Notícias" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Últimas Notícias</h4>
                    <span><a href="/noticias/rss/ultimas-noticias">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/adm_publica.jpg" alt="Administração Pública">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Administração Pública</h4>
                    <span><a href="/noticias/rss/dinamico/ADMINISTRACAO-PUBLICA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/agropecuaria.jpg" alt="Agropecuária">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Agropecuária</h4>
                    <span><a href="/noticias/rss/dinamico/AGROPECUARIA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/assis_social.jpg" alt="Assistência Social">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Assistência Social</h4>
                    <span><a href="/noticias/rss/dinamico/ASSISTENCIA-SOCIAL">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/ciencia.jpg" alt="Ciência">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ciência</h4>
                    <span><a href="/noticias/rss/dinamico/CIENCIA-E-TECNOLOGIA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/cidades.jpg" alt="Cidades">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Cidades</h4>
                    <span><a href="/noticias/rss/dinamico/CIDADES">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/comunicacao.jpg" alt="Comunicação">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Comunicação</h4>
                    <span><a href="/noticias/rss/dinamico/COMUNICACAO">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/consumidor.jpg" alt="Consumidor">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Consumidor</h4>
                    <span><a href="/noticias/rss/dinamico/CONSUMIDOR">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/direito_justica.jpg" alt="Direito e Justiça">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Direito e Justiça</h4>
                    <span><a href="/noticias/rss/dinamico/DIREITO-E-JUSTICA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/dir_humanos.jpg" alt="Direitos Humanos">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Direitos Humanos</h4>
                    <span><a href="/noticias/rss/dinamico/DIREITOS-HUMANOS">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/economia.jpg" alt="Economia">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Economia</h4>
                    <span><a href="/noticias/rss/dinamico/ECONOMIA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/edu_cultura.jpg" alt="Educação e Cultura">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Educação e Cultura</h4>
                    <span><a href="/noticias/rss/dinamico/EDUCACAO-E-CULTURA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/esportes.jpg" alt="Esportes">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Esportes</h4>
                    <span><a href="/noticias/rss/dinamico/ESPORTES">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/industria_comercio.jpg" alt="Indústria e Comércio">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Indústria e Comércio</h4>
                    <span><a href="/noticias/rss/dinamico/INDUSTRIA-E-COMERCIO">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/meioambiente.jpg" alt="Meio Ambiente">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Meio Ambiente</h4>
                    <span><a href="/noticias/rss/dinamico/MEIO-AMBIENTE">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/politica.jpg" alt="Política">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Política</h4>
                    <span><a href="/noticias/rss/dinamico/POLITICA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/relacao.jpg" alt="Relações Exteriores">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Relações Exteriores</h4>
                    <span><a href="/noticias/rss/dinamico/RELACOES-EXTERIORES">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/saude.jpg" alt="Saúde">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Saúde</h4>
                    <span><a href="/noticias/rss/dinamico/SAUDE">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/seguranca.jpg" alt="Segurança">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Segurança</h4>
                    <span><a href="/noticias/rss/dinamico/SEGURANCA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/trabalho.jpg" alt="trabalho">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Trabalho e Previdência</h4>
                    <span><a href="/noticias/rss/dinamico/TRABALHO-E-PREVIDENCIA">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/transporte.jpg" alt="transporte">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Transporte</h4>
                    <span><a href="/noticias/rss/dinamico/TRANSPORTE-E-TRANSITO">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media-left">
                    <img class="img-rounded media-object" src="{{baseUrlTema}}/assets/images/rss/_placeholders/turismo.jpg" alt="turismo">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Turismo</h4>
                    <span><a href="/noticias/rss/dinamico/TURISMO">Acessar o conteúdo</a></span>
                </div>
            </div>
        </div>
    </div>
</div>